:root {
    --background-color-white: #FFFFFF;
    --background-color-gray: #F3F6F9;
    --background-color-light-gray: #F2F3F8;
    --background-color-dark-gray: #AFB4C4;
    --background-color-dark: #142251;

    --text-color-white: #FFFFFF;
    --text-color-light-dark: #213887;
    --text-color-dark: #142251;
    --text-color-light-gray: #989EB1;

    --h1-desktop-title-size: 100px;
    --h2-desktop-title-size: 94px;
    --h3-desktop-title-size: 84px;
    --h3-desktop-title-size: 34px;

    --h1-mobile-title-size: 40px;
    --h2-mobile-title-size: 30px;
    --h3-mobile-title-size: 30px;
    --h3-mobile-title-size: 18px;

    --h1-tablet-title-size: 67px;
    --h2-tablet-title-size: 50px;
    --h3-tablet-title-size: 44px;
    --h3-tablet-title-size: 22px;

    --container-width-x: 1820px;
}
