header {
    height: 108px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #14225148;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.header__blocks__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__list {
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    display: flex;
    align-items: center;
}

.menu__link {
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.menu__link:hover {
    background-color: #F2F3F8;
    color: #142251ad;
    padding: 15px;
    border-radius: 10px;
}

.header__right {
    outline: none;
    border: none;
    background-color: inherit;
    color: var(--background-color-dark);
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

.header__right:hover {
    background-color: var(--background-color-light-gray);
    border-radius: 10px;
}

.header__right .button-text {
    padding: 15px;
}

