.how__we__blocks {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}

.how__we__title {
    width: 330px;
    font-size: 84px;
    font-weight: 500;
}

.how__blocks {
    margin-top: 70px;
}

.how__block {
    margin-top: 10px;
    width: 454px;
    height: 164px;
    padding: 30px;
    background-color: inherit;
    border: 1px solid var(--background-color-dark-gray);
    border-radius: 22px;
}

.how__block__top {
    display: flex;
    justify-content: space-between;
}

.how__number {
    opacity: 0.5;
    font-size: 20px;
}

.how__block__bottom {
    height: 120px;
    display: flex;
    align-items: end;
}

.how__block__bottom p {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color-light-gray);
}

